/* Linking the CSS style sheet is better than using the style attribute> */

*{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: orangered;
    background-color: black;

    text-align: center;

    border: 2px solid orangered;

}

p{
    font-size: 20px; 
}