/* Using CSS is better than using the style attribute> */

*{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color: orangered;
    background-color: black;
    text-align: center;
}

p{
    font-size: 20px;
}