/* Using CSS is better than using the style attribute> */

*{
    /*Remove white margin around the page*/
    margin: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: black;
    
    text-align: center;
    color: white;

    /*Adjusting padding*/
    /*Using rem (Responsive)*/
    /*The rem is good to header*/
    /*The rem has a padding that is fixed*/
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*Class selector*/
.logo{
    /*It's important to set margin 0 here when using rem*/
    margin: 0px;
}
h1.logo{
    /*The rem is good to font-size*/
    /*The font receives a fixed dimension*/
    font-size: 5rem;
}

h2.logo{
    font-size: 2rem;
}

.section1{
    text-align: center;
    padding-bottom: 5vw;
}

p.section1{
    font-size: 2rem;
    font-weight: 700;

    /*Using vw (Responsive)*/
    /*The vw is good between the sections*/
    /*The vw has a padding that is changeable*/
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*Id selector*/
#badge{
    /*Only adjusting height, it changes proportionally*/
    height: 100px;

    padding: 3vw;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;

    /*Border color*/
    border:1px solid gray;
}

/*Link Colors*/
a:link{
    color: green;
    text-decoration: none;
}

a:visited{
    color: orangered;
    text-decoration: none;
}

a:hover{
    color: rgb(89, 231, 120);
}

/*Link Button*/
a.contato:link, a.contato:visited{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
  
    /*To generate a block on it*/
    display: inline-block;
    margin: 25px;
}

a.contato:hover, a.contato:active{
    background-color: rgb(89, 231, 120);
}

footer{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.video{
    text-align: center;
    background-color: black;
    padding-bottom: 5vw;
    padding-top: 5vw;
}

p.video{

    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    color: white;
}

iframe.video{
    height: 39.5vw;
    width: 70vw;
}