/* Using CSS is better than using the style attribute> */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: black;
    
    text-align: center;
    color: white;

    /*Adjusting padding and margin*/
    padding-top: 50px;
    padding-bottom: 50px;

    margin-top: -10px;
    margin-left: -8px;
    margin-right:-8px;
}

/*Class selector*/
h1.logo{
    font-size: 150px;

    margin-top: 0px;
    margin-bottom: 0px;
}

.section1{
    text-align: center;

    margin-top: 130px;
    margin-bottom: 130px;
}

/*Id selector*/
#badge{
    /*Only adjusting height, it changes proportionally*/
    height: 120px;
}

footer{
    text-align: center;
}